<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/csspadrao.css') }}">
  <!-- tirar erro -->
  <link rel="icon" href="data:;base64,=">

  <title>{% block title %} {% endblock %}</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

    <div class="container-fluid">

        <a class="navbar-brand" href="/"><img src="../static/img/metricas.png" class="logo"/> MS Gestor</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="CadastroEmpresa"><i class="fa fa-fw fa-user-plus"></i>Cadastrar</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="cadempresa" id="emp"><i class="fa fa-fw fa-building"></i>Empresa</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="cadastroProjeto"><i class="fa fa-fw fa-handshake"></i>Projeto</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="cadastroFuncao"><i class="fa fa-fw fa-university"></i>Função</a>
                        <div class="dropdown-divider" style="display: none;"></div>
                        <a class="dropdown-item" href="crudTipo" style="display: none;" id="tipo"><i class="fa fa-fw fa-random"></i>Tipo</a>
                        <div class="dropdown-divider" style="display: none;"></div>
                        <a class="dropdown-item" href="crudTipoContagem" style="display: none;" id="tc"><i class="fa fa-fw fa-retweet"></i>Tipo Contagem</a>
                        <div class="dropdown-divider" style="display: none;"></div>
                        <a class="dropdown-item" href="cadPergunta" style="display: none;" id="perg"><i class="fa fa-fw fa-question-circle"></i>Caracteristica Gerais do Sistema</a>
                        <div class="dropdown-divider" style="display: none;"></div>
                        <a class="dropdown-item" href="cadastroLinguagem" style="display: none;" id="ling"><i class="fa fa-fw fa-globe"></i>Linguagem</a>
                    </div>

                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/fatorAjuste"><i class="fa fa-fw fa-industry"></i>Fator de Ajuste</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="CadastroEmpresa"><i class="fa fa-fw fa-calculator"></i>Contagem</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="contagemModelo"><i class="fa fa-fw fa-database"></i>Banco</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="contagemTela"><i class="fa fa-fw fa-desktop"></i>Tela</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="contagemScript"><i class="fa fa-fw fa-list-alt"></i>Script</a>
                  </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/estimativa"><i class="fa fa-fw fa-chevron-circle-up"></i>Estimar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/relatorio"><i class="fa fa-fw far fa-newspaper"></i></i>Relatório</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/sign-in" id="sign">
                        <i class="fa fa-fw fa-user"></i>
                        Logar
                    </a>
                </li>
            </ul>

        </div>

    </div>

</nav>
</br>
<main>
    {% block content %} {% endblock %}
</main>
</br>
<!-- Footer -->
<footer class="navbar-dark bg-dark">

  <div class="container-fluid padding">
      <div class="row text-center">

          <div class="col-12">
           
              <h5>&copy; msGestor@msGestor.com.br</h5>
          </div>

      </div>
  </div>

</footer>
<!-- Footer -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="{{ url_for('static', filename= 'js/base.js') }}"></script>
{% block script %} {% endblock %}

</body>

</html>