{% extends 'base.html' %}

{% block content %}

{% block body %}
<div class="container">

  <div class="well text-center">
    <h1>Perguntas</h1>
  </div>
  <hr class="light" />
<div class="container">
  <div class="row">
    <div class="col md-12">
      <h2>Lista de Perguntas<button type="button" class="btn btn-success float-right" 
        data-toggle="modal" data-target="#mymodal">
        Adicionar</button></h2>

        {% with messages = get_flashed_messages() %}

        {% if messages %}

        {% for message in  messages %}

        <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
          </button>
          {{message}}
        </div>
        
        {%endfor%}
        {%endif%}
        {%endwith%}

        <table class="table table-striped">
          <tr>
            <td>Id</td>
            <td>Caracteristica</td>
            <td>Tipo Contagem</td>
            <td>Peso</td>
          </tr>
          
          
          {% for i in range (tam) %}
          <tr>

            <td>{{results[i][0]}}</td>
            <td>{{results[i][1]}}</td>
            <td>{{lista[i]}}</td>
            <td>{{results[i][3]}}</td>
            <td>
              <a href="/alterartp/{{ results[i][0] }}" data-toggle="modal" data-target="#modaledit{{results[i][0]}}">
                <img class="fa fa-fw fa-edit" />
              </a>
              <a href="/deletartp/{{ results[i][0] }}" onclick="return confirm('Confirmar Exclusão?')">
                <img class="fa fa-fw fa-trash-alt" />
              </a>
            </td>
          </tr>

          <div class="modal fade" id="modaledit{{results[i][0]}}" role="dialog">

            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Altere a Caracteristica</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
    
                  <form action="{{url_for('caracteristica.alterarpergunta')}}" method="POST">
    
                    <div class="form-group">
    
                      <label>Caracteristica:</label>
                      <input type="hidden" name="id" value="{{results[i][0]}}">
                      <input type="text" class="form-control" name="caracteristica" value="{{results[i][1]}}">

                    </div>

                    <div class="form-group">

                      <label>Tipo de Contagem:</label>
                      
                      <select id="tipo2" class="form-control" name="tc">
                        {% for row in results3 %}
                          <option value="{{row[0]}}">{{row[1]}}</option>
                        {% endfor %}
                      </select>
                      
                    </div>

                    <div class="form-group">
    
                        <label>Peso:</label>
                        <input type="text" class="form-control" name="peso" value="{{results[i][3]}}">

                      </div>

                    <div class="form-group">
    
                      <button class="btn btn-primary" type="submit">Alterar</button>
    
                    </div>
    
                  </form>
    
                </div>
    
                <div class="modal-footer">
    
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    
                </div>
                
              </div>
            </div>
          </div>

          {%endfor%}
        </table>
    </div>
  </div>

  <div class="modal fade" id="mymodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Insira a Caracteristica</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('caracteristica.insertpergunta')}}" method="POST">

            <div class="form-group">

              <label>Caracteristica:</label>
              <input type="text" class="form-control" name="caracteristica" required="1">

            </div>

            <div class="form-group">

              <label>Tipo de Contagem:</label>
              
              <select id="tipo" class="form-control" name="tc" onchange="alteraDivPeso()">
                {% for row in results3 %}
                <option value="{{row[0]}}">{{row[1]}}</option>
                {% endfor %}
              </select>
              
            </div>

            <div class="form-group" id="divpeso" style="display: none;">

                <label>Peso:</label>
                <input type="text" class="form-control" name="peso" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>

            </div>

            <div class="form-group">

              <button class="btn btn-primary" type="submit">Inserir</button>

            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  </div>

</div>
{% endblock %}

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename= 'javascript/pergunta.js') }}"></script>

{% endblock %}
