{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 align="center">Métricas de Software</h1><br><br><br>
        <h3 align="right">“Se você não pode medir, você não pode gerenciar”,</h3>
        <h4 align="right">Peter Drucker</h4><br><br>
        <h3>O que são ?</h3><br>
        <p>Uma métrica de software é qualquer tipo de medição que se refira a um sistema de software, processo ou documentação relacionada,
            possuindo uma grande importância na área de Engenharia de Software pois auxiliam na estimativa
            do cálculo de custo, tempo e esforço necessário no desenvolvimento de um projeto.</p>
        <br>
        <h3>Por que medir software ?</h3><br>
        <ul>
            <li>Entender e aperfeiçoar o processo de desenvolvimento.</li>
            <li>Melhorar a gerência de projetos e o relacionamento com clientes.</li>
            <li>Reduzir frustrações e pressões de cronograma.</li>
            <li>Gerenciar contratos de software.</li>
            <li>Indicar a qualidade de um produto de software</li>
            <li>Avaliar a produtividade do processo</li>
        </ul>
    </div>
{% endblock %}
    
