<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'relatorio.css') }}">
  <!-- tirar erro -->
  <link rel="icon" href="data:;base64,=">

  <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <div class="well text-center">
        <h1>{{empresa}}</h1>
    </div>
    <hr class="light" />
    
    <form>
        <div class="form-row justify-content-md-center">
    
            <div class="form-group col-md-3">
            <label for="selProjeto">Projeto:</label>
            <select class="form-control" id="selProjeto" onchange="gerarelatorio();">
                {% for row in projects %}
                <option value="{{row[0]}}">{{row[3]}}</option>
                {% endfor %}
            </select>
            </div>
    
        </div>
        <h2>Escopo</h2>
        <div id="escopo"></div>
        <h2>Contagem Tipo Dado</h2>
        <div class="tudo" id="dados"></div>
        <h2>Contagem Tipo Transação</h2>
        <div class="tudo" id="transacao"></div>
        <hr />
        <h3 style="text-align: left;">Características Gerais do Sistema</h3>

        <div class="tudo">
            <div class="menu1">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <td><strong>Pergunta</strong></td>
                        <td><strong>Peso (1-5)</strong></td>
                      </tr>
                    </thead>
        
                    <tbody id="tbodyFatorAjuste">
                        <!--Aqui... carregado por ajax-->
                    </tbody>
                </table>
            </div>
            <div class="menu2" id="dadosContagem">
                <h3>Dados da Contagem</h3>
            </div>
        </div>

    </form>

</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename= 'javascript/relatorio.js') }}"></script>

</body>

</html>